* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .app {
    max-width: 500px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  button {
    width: 200px;
    padding: 10px;
    cursor: pointer;
  }
  